/*

File: ultimateCore.css
Copyright 2011-2012 by Jim Martens.

*/

.ui-timepicker-div {
    .ui-widget-header { margin-bottom: 8px !important; }
    
    dl {
        text-align: left !important;
        
        dt { height: 25px !important; margin-bottom: -25px !important; text-align: left !important; color: #000 !important; }
        dd { margin: 0 10px 10px 65px !important; }
    }
    
    td { font-size: 90% !important; }
}
.ui-tpicker-grid-label { background: none !important; border: none !important; margin: 0 !important; padding: 0 !important; }

.tabMenu {
    ul { 
        li {
            &.ui-state-active { 
                a {
                    z-index: 0 !important;
                    color: #808080 !important;
                    text-decoration: none !important;
                }                    
            }
            a {
                z-index: 0 !important;
            }
            border: 0 !important;
            background: 0 !important;                            
        }
        border-style: solid !important;
        white-space: nowrap !important;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
    }        
}

.tabMenuContainer {
    border: 0 !important;
}

.tabMenuContent {
    z-index: 0 !important;
}

ol, ul {
    list-style: none outside none !important;
}